@import url(/Style/Reset.css);

body {
    background-color: #121212; 
    color: #ffffff;           
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Шапка сайта */
header {
    background-color: #ffcc00; 
    color: #000;              
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase; 
}

/* Меню навигации */

nav {
    background: #1f1f1f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0;
}

nav li {
    display: inline; 
    margin: 0 15px;
}

nav a {
    color: #ffcc00;
    font-weight: bold;
}

nav a:hover {
    color: #fff; 
}

/* Основной контент:) */

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; 
}

/* Стиль для списка треков */

#playlist ul {
    background: #252525;
    padding: 20px;
    border-radius: 10px; 
    border-left: 5px solid #ffcc00; 
}
#playlist li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

/* футер */

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #777;
}

/* Спасибо за внимание! Мне было приятно работать над этим проектом. */