* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}